/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1.3; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }

@font-face {
    font-family: "Fatpixel";
	src: url('fonts/FATPIXEL.TTF');
}


body {
	margin: 0;
	padding: 0;
	background: #eee;
	font-family: arial;
	font-size: 12px;
	overflow: hidden;
}

h1 {
	font-size: 5em;
	margin:0;
	font-family: "Fatpixel";
}

h2 {
	font-family: "Fatpixel";
}

:root {
	--menu_height: 332px;
	--settings_height: 332px;
}

#wrapper {
	background: #1E023F;
	max-width: 100vw;
	height: auto;
	display: block;
	/*margin: 0 auto;
	margin-top: 50vh;
	top: -275px;*/
	position: relative;
}

.menu_on {
	width: 100vw;
	height: 100vh;
	background-color: #1E023F;
	position: absolute;
	z-index: 100;
	display: visible;
}

.menu_off {
	display:none;
}

#menu_1 {
	height: var(--menu_height);
	max-width: 300px;
	margin: auto;
	position: relative;
	top: 50%;
	margin-top: calc(var(--menu_height) * -0.5);
	/*background-color: rgba(255,255,255,.7);*/
}

#menu_1 h1 {
	text-align: center;
	font-family: "Fatpixel";
	text-transform: uppercase;
	color: rgba(50, 100, 155, 1);
}

#canvas_id {
	position: absolute;
}

.button_big:active {
	background-color: rgba(255, 255, 255, .3);
}
.button_big {
	display: block;
	width: 100%;
	height: auto;
	font-size: 2em;
	text-transform: uppercase;
	padding: 20px;
	margin: 50px auto 0;
	color: #fff;
	background: none;
	border: 3px solid rgba(255, 255, 255, 1);
}

.button_small:active {
	background-color: rgba(255, 255, 255, .3);
}
.button_small {
	display: block;
	width: 100%;
	height: auto;
	font-size: 1em;
	text-transform: uppercase;
	padding: 10px;
	margin: 25px auto 0;
	color: #fff;
	background: none;
	border: 3px solid rgba(255, 255, 255, 1);
}

.settings_on {
	width: 100vw;
	height: 100vh;
	background-color: #1E023F;
	position: absolute;
	z-index: 200;
	display: visible;
	color: #fff;
}

.settings_off {
	display: none;
}

#settings_container {
	height: var(--settings_height);
	max-width: 250px;
	margin: auto;
	position: relative;
	top: 50%;
	margin-top: calc(var(--settings_height) * -0.5);
	/*background-color: rgba(255,255,255,.7);*/
}

#settings_container h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 3.3em;
	border-bottom: 2px solid white;
}

#options_container_2:first-of-type {
	margin-top: 20;
}

#options_container_2 {
	width: 100%;
	margin: auto;
	height: 50px;
	margin-top: 15px;
}

#options_container_2 .button_small {
	float: left;
	margin-top: 0;
	width: calc(50% - 10px);
}

#options_container_2 .button_small:last-of-type {
	margin-left: 20px;
}